src/*.exe
src/purplecoin
src/purplecoind
src/test_purplecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.purplecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
purplecoin-qt
PurpleCoin-Qt.app

# Unit-tests
Makefile.test
purplecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
